################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/lib
/output*
/coverage
/bin
/obj/Debug
mc_output/building.form-group-fac.ts
mc_output/building.model.ts
mc_output/contact.form-group-fac.ts
mc_output/contact.model.ts
mc_output/email.form-group-fac.ts
mc_output/email.model.ts
mc_output/index.ts
mc_output/phone.form-group-fac.ts
mc_output/phone.model.ts
mc_output/site-collection.form-group-fac.ts
mc_output/site-collection.model.ts
mc_output/site.form-group-fac.ts
mc_output/site.model.ts
mc_output/tag.form-group-fac.ts
mc_output/tag.model.ts
mc_output/unit-tag.form-group-fac.ts
mc_output/unit-tag.model.ts
mc_output/unit-type-tag.form-group-fac.ts
mc_output/unit-type-tag.model.ts
mc_output/unit-type.form-group-fac.ts
mc_output/unit-type.model.ts
mc_output/unit.form-group-fac.ts
mc_output/unit.model.ts
old_src/app.ts
old_src/file-utils.ts
old_src/index.ts
old_src/__tests__/GenerateCompTsModels.test.ts
old_src/__tests__/GenerateEmplTsModels.test.ts
old_src/__tests__/GenerateReceivableTsModels.test.ts
old_src/__tests__/GenerateUnitTsModels.test.ts
old_src/__tests__/GenerateWorkTsModels.test.ts
old_src/__tests__/__snapshots__/GenerateCompTsModels.test.ts.snap
old_src/__tests__/__snapshots__/GenerateEmplTsModels.test.ts.snap
old_src/__tests__/__snapshots__/GenerateReceivableTsModels.test.ts.snap
old_src/__tests__/__snapshots__/GenerateUnitTsModels.test.ts.snap
old_src/__tests__/__snapshots__/GenerateWorkTsModels.test.ts.snap
old_src/generators/barrel-file-generator.ts
old_src/generators/enum-helper.ts
old_src/generators/helper.ts
old_src/generators/model-generator.ts
old_src/generators/namespace-helpers.ts
old_src/generators/open-api-object-helper.ts
old_src/generators/property-helper.ts
old_src/generators/simple-enum-generator.ts
old_src/generators/type-helper.ts
old_src/models/GeneratorOptions.ts
old_src/models/IGeneratorOptions.ts
old_src/models/IPropertyTypeMetaData.ts
old_src/models/ITypeMetaData.ts
old_src/models/NamespaceGroups.ts
old_src/models/swagger.ts
old_src/models/validators.ts
old_src/templates/form-group-factory-ts.hbs
old_src/templates/generate-barrel-ts.hbs
old_src/templates/generate-base-model-ts.hbs
old_src/templates/generate-enum-i18n-html.hbs
old_src/templates/generate-enum-ts.hbs
old_src/templates/generate-model-ts.hbs
old_src/templates/generate-simple-enum-ts.hbs
old_src/templates/generate-sub-type-factory-ts.hbs
old_src/templates/generate-validators-ts.hbs
jest_ouput/index.ts
